.nav__menu{
    background-color: #fcfbf9;
    height: 100vh;
    position: fixed;
    right: -90%;
    top: 0;
    transition: right .3s ease-out;
    max-width: 70vw;
    z-index: 0;
}

.menu__ativo .nav__menu{
    right: 0;
}

.nav__lista{
    list-style: none;
    position: relative;
    top: 80px;
}

.nav__item{
    border-bottom: 1px solid #1a0c57;
    margin: 2rem 1rem 1rem 1rem;
}

.nav__item a{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}