.navegacao{
    align-items: center;
    display: flex;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu__ativo .nav__menu{
    right: 0;
}

.nav__menu{
    background-color: #fcfbf9;
    height: 100vh;
    max-width: 60vw;
    padding-top: 80px;
    position: fixed;
    right: -90%;
    transition: ease-in-out .3s;
}

.nav__lista{
    list-style: none;
}

.nav__item{
    border-bottom: 1px solid #1a0c57;
    margin: 0 1rem;
    padding-top: 2rem;
}

.nav__item a{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}


@media (min-width: 1200px){    
    .navegacao{
        height: 80px;
    }
    
    .container{
        align-items: center;
        display: flex;
        height: 80px;
        margin: 0 auto;
        max-width: 1500px;
        width: 96%;
    }
    
    .nav__menu{
        align-items: center;
        background-color: transparent;
        display: flex;
        height: 80px;
        justify-content: flex-end;
        max-width: unset;
        padding-top: unset;
        position: unset;
        right: unset;
        transition: none;
        width: 100%;
    }

    .nav__lista{
        display: flex;
        justify-content: space-around;
        width: 70%;
    }
    
    .nav__item{
        border-bottom: none;
        margin: unset;
        padding-top: unset;
    }
}