.topo__container{
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: ease-in-out .3s;
    width: 100%;
}

.topo__colorido{
    background-color: rgba(255, 255, 255, .9);
    transition: ease-in-out .3s;
}

.topo{
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    max-width: 1500px;
    width: 96%;
}

.logo{
    height: 60px;
    width: 60px;
}