.topo__container{
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.topo{
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    max-width: 1500px;
    width: 96%;
}

.logo{
    height: 60px;
    width: 60px;
}