@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;300&family=Permanent+Marker&display=swap');

.secao__home{
    align-items: flex-end;
    background: linear-gradient(rgba(255, 254, 254, 0.4), rgba(255, 255, 255, 0.5) 90%), url("../../assets/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: 100%;
}

.home__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1500px;
    width: 96%;
}

.main__conteudo{
    margin: 1rem auto;
    max-width: 90vw;
}

.apresentacao h2, h2 strong{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Permanent Marker', cursive;
    padding-bottom: 1rem;
    -webkit-transform: rotate(-4deg);
}

h3, p{
    padding-bottom: .5rem;
}

span:nth-child(n+2):nth-child(-n+4){
    padding-left: 2rem;
}

.icones a{
    color: black;
    font-size: 1.2rem;
}

.foto{
    max-height: 76vh;
    max-width: 76vw;
}


/* Mobile em posição horizontal */
@media (min-width: 600px) and (min-height: 250px){
    .home__container{
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .main__conteudo{
        max-width: 70vw;
    }
}


/* Mobile em posição vertical */
@media (min-width: 360px) and (min-height: 800px){
    .main__conteudo{
        height: 30vh;
        max-width: 70vw;
    }

    .foto{
        max-height: 80vh;
        max-width: 80vw;
    }
}

@media (min-width: 360px) and (min-height: 600px){
    .foto{
        max-height: 70vh;
        max-width: 70vw;
    }
}


/* Tablets e afins */
@media (min-width: 750px) and (min-height: 1000px){
    .home__container{
        flex-direction: column;
    }

    .main__conteudo{
        height: 20vh;
        max-width: 70vw;
    }

    .foto{
        max-height: 70vh;
        max-width: 70vw;
    }
}

@media (min-width: 1000px){
    .apresentacao h2, h2 strong{
        font-size: 3.2rem;
        padding-bottom: 2rem;
    }
}