.competencias{
    align-items: flex-end;
    background-color: rgba(53, 188, 250, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1500px;
    padding-top: 1rem;
    width: 96%;
}

.titulo{
    margin-top: 80px;
    text-align: center;
    width: 100%;
}

.experiencia p{
    padding-bottom: .5rem;
}

.habilidades{
    width: 100%;
}

.item{
    padding-bottom: 1rem;
}


/* Tablets e afins */
@media (min-width: 750px) and (min-height: 1000px){
    .container{
        height: 80vh;
        justify-content: space-around;
    }
}


@media (min-width: 1000px){
    .container{
        align-items: flex-start;
        flex-direction: row;
        height: 60vh;
        justify-content: space-around;
    }

    .experiencia{
        width: 45%;
    }

    .habilidades{
        width: 45%;
    }
}


@media (min-width: 1200px){
    .container{
        height: 70vh;
    }
}


@media (min-width: 1500px){
    .container{
        height: 75vh;
    }
}