.sobre{
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.sobre__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1500px;
    padding-top: 1rem;
    width: 96%;
}

.titulo{
    margin-top: 80px;
}

.sobre__texto{
    width: 100%;
}

.sobre__texto h3{
    padding-bottom: 1rem;
    text-align: center;
}

h3 span{
    background: red;
    display: inline-block;
    height: 3px;
    margin-bottom: .3rem;
    margin-right: .3rem;
    width: 26px;
}

/* Tablets e afins */
@media (min-width: 750px) and (min-height: 1000px){
    .sobre__container{
        height: 80vh;
        justify-content: space-around;
    }

    .sobre__imagem{
        background-image: url("../../assets/eng_codes.png");
        background-repeat: no-repeat;
        height: 40vh;
        width: 740px;
    }

    .sobre__texto h3{
        text-align: left;
    }
}

@media (min-width: 1000px){
    .sobre__imagem{
        background-image: url("../../assets/eng_codes.png");
        background-repeat: no-repeat;
        height: 200px;
        width: 740px;
    }

    .sobre__texto h3{
        text-align: left;
    }
}


@media (min-width: 1200px){
    .sobre{
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .sobre__container{
        align-items: flex-start;
        flex-direction: row-reverse;
        height: 70vh;
        justify-content: space-around;
    }

    .sobre__imagem{
        background-image: url("../../assets/eng_codes_dois.png");
        height: 330px;
        margin-right: 1rem;
        width: 300px;
    }

    .sobre__texto{
        width: 65%;
    }
}

@media (min-width: 1500px){
    .sobre{
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .sobre__container{
        align-items: flex-start;
        flex-direction: row-reverse;
        height: 75vh;
        justify-content: space-between;
    }
}