.experiencia{
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.titulo{
  text-align: center;
  width: 100%;
}

.container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1500px;
  width: 96%;
}

@media (min-width: 1200px){
  .container{
    width: 100%;
  }
}